/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

* {
    box-sizing: border-box;
}

body {
    
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
    padding-inline-start: 0;
    margin: unset;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

button.auxiliary {
    width: 116px;
    height: 51px;
    align-items: center;
    padding: 16px;
    color: #2A7AE4;
    font-size: 16px;
    border: 1px solid #2A7AE4;
}

button.main {
    width: 105px;
    height: 51px;
    align-items: center;
    padding: 16px;
    background: #2A7AE4;
    font-size: 16px;
    color: white;
    border: 8px;
}

button.auxiliary, button.main {
    margin-left: 8px;
}

div.all {
    background-color: #F5F5F5;
    color: #464646;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

section.menu{
    display: flex;
    flex-direction: row;
    padding-top: 34.5px;;
    align-items: baseline;
    margin-bottom: 67px;
}

header {
    flex-grow: 1;
    flex-direction: row;
    
    font-size: 16px;
    min-width: 200px;
}

header > * {
    display: inline;
}

nav {
    flex-grow: 3;
    display: flex;
    gap: 10px;
    justify-content: end;
}

ul.menu__list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    font-weight: 500;
}

ul.menu__list > li:last-child {
    font-weight: 700;
}

li.menu__list__item__contato {
    font-weight: 700;
    display: none;;
}

section {
    padding-left: 10%;
    padding-right: 10%;
}

/*Sessão Title*/

section.title{

}

.title__div {
    display: flex;
    flex-direction: row;
}

img.title__profile {
    /* float: right; */
    order: 2;
    width: 368px;
    height: 368px;
    
}

/* .title__div:after {
    clear: both;
} */

.title__bio {
    font-size: 52px;
    /* font-weight: 700; */
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;

}

.title__subsection {
    font-size: 22px;
    /* font-weight: 400; */
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

ul.title__network {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    font-weight: 500;
}

/*Sessão About*/

section.about{
    background: #EAF2FD;
}

div.about__container {
    padding: 64px 0;
}

h3.about__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
}

.about__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

section.skills {
    background: #F5F5F5;
}

.skills__title, .hobbies__title {
    margin: 32px 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}

div.skills, div.hobbies {
    margin-bottom: 88px;
}


div.skills__line, div.hobbies__line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px;
    gap: 16px;
    flex-wrap: wrap;
}

div.skills__box, div.hobbies__box {
    width: 176px;
    height: 174px;
    padding-top: 94px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    background-color: white;

}

.skills__box > ul, .hobbies__box > ul {
    margin: unset;
    padding-inline-start: 0;
}

.skills__name, .hoobbies__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}



/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 82px; */
    gap: 32px;

    /* height: 581px; */

    /* Azul/10% */

    background: #EAF2FD;
    padding: 82px 0;

}

.academic__title {
    margin: unset;
}

.academic__courses {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.academic__courses__box {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    
}

ul.academic__courses__list {
    width: 100%;
}

li.academic__courses__item__title {
    font-size: 22px;
    font-weight: 700;
}

ul.academic__courses__list h4, ul.academic__courses__list p {
    margin: 8px 0;
}

li.academic__courses__item__img {
    height: 286px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* experiência*/

section.experience{

}

#xp {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}

div.experiencie__box {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 53px;
}

div.experiencie__box > img {
    max-width: calc(100% - 250px);
}

div.experiencie__box:nth-child(odd) > img {
    order: 2;
}

.experience__text {
    font-weight: 400;
}

.experience__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience__info > h2, .experience__info > h3 {
    margin: 8px;
}

.experience__info > h2.experience__title {
    font-size: 22px;
    font-weight: bold;
}

/*Contato*/

section.formcontato{
    background: #EAF2FD;
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato {
    display: flex;
    flex-direction: row;
}

.formcontato__title {
    font-weight: 700;
    font-size: 32px;
}

.formcontato__subtext {
    font-weight: 500;
}

div.formcontato__text {
    margin-left: 16px;
}

div.formcontato__text, form.formcontato__form {
    display: flex;
    flex-direction: column;
}

div.formcontato__text > h2, div.formcontato__text > h3 {
    margin: 8px 0;
}

.input-field-format {
    height: 56px;
}

.formcontato__input {    
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    padding: 16px 12px 0 12px;
    box-shadow: inset 0 -1px 0 #C8C8C8;
}


.formcontato__input:valid
      + .label{
    color: #A2A2A2;;
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__input:hover:not(:placeholder-shown)
      + .label{
    color: #2A7AE4;
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__input:hover:focus{
    /* background: rgba($dark,.05); */
    outline: none;
    box-shadow: inset 0 -2px 0 #C8C8C8;
}

.formcontato__input:hover:focus + .label{
    /* color: $primary */
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__input:hover:focus + .label  + .focus-bg{
    /* color: $primary */
    transform: scaleX(1);
    transition: all .1s ease;
}

.formcontato__textarea {    
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    padding: 16px;
    padding-top: 22px;
    box-shadow: inset 0 -1px 0 #C8C8C8;
}

.formcontato__textarea:hover:not(:placeholder-shown)
      + .label{
    color: #2A7AE4;
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__textarea:hover:focus{
    /* background: rgba($dark,.05); */
    outline: none;
    box-shadow: inset 0 -2px 0 #C8C8C8;
}

.formcontato__textarea:hover:focus + .label{
    /* color: $primary */
    transform: translate3d(0,-12px,0) scale(.75);
}

.formcontato__textarea:hover:focus + .label  + .focus-bg{
    /* color: $primary */
    transform: scaleX(1);
    transition: all .1s ease;
}


/* .input-field-format:nth-child(1):before {
    content: "Nome";
} */

/* .formcontato__input:placeholder-shown {
    padding: 16px;
} */

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    /* max-width: 280px; */
    border-radius: 3px;
    overflow: hidden;
}

.label {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 16px;
    color: #A2A2A2;
    /* color: rgba($dark,.5); */
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
}

.focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba($dark,.05) */
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}
    

.formcontato__input::placeholder {
    color: #A2A2A2;
}

.formcontato__textarea {
    height: 133px;
    width: 100%;
}

form.formcontato__form {
    margin-top: 32px;
    flex-grow: 1;
    justify-content: space-between;
}

button.formcontato__botao.main {
    width: 165px;
}

/*footeer*/

section.footer{
   height: 102px;;
   display: flex;
   justify-content: center;
   background: white;
}

.footer__rodape {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.footer__rodape > p {
    margin: 5px;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 1190px) {

    /* Menu */
    ul.menu__list {
        display: none;
    }

    li.menu__list__item__contato {
        display: initial;;
    }

    .title__div {
        justify-content: space-between;
        align-items: center;
    }

    .title__subsection {
        font-size: 16px;
    }

    section.title {
        padding-bottom: 42px;
    }

    .title__container {
        display: flex;
        flex-direction: column;
    }
        
    .title__container > h2, .title__container > h3 {
        margin: unset;
    }

    .title__bio {
        font-size: 22px;
        line-height: initial;
    }

    .title__network {
        margin-top: 8px;
    }



    /*Titulo*/
    img.title__profile {
        width: 146px;
        height: 146px;
    }


    section {
        padding-left: 32px;
        padding-right: 32px;
    }

    li.academic__courses__item__img {
        height: 180px;
    }

    section.academic {
        padding: 32px 0;
    }

    div.skills {
        margin-bottom: 50px;
    }

    div.hobbies {
        margin-bottom: 32px;
    }

    .skills__title, .hobbies__title {
        font-size: 22px;
        margin: unset;
        margin-bottom: 32px;
    }

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

    #xp {
        font-size: 22px;
    }

    div.experiencie__box {
        flex-direction: column;
        gap: unset;
        margin-bottom: 64px;
    }

    div.experiencie__box:last-child {
        margin-bottom: 64px;
    }

    div.experiencie__box > img  {
        max-width: initial;
    }

    div.experiencie__box:nth-child(odd) > img {
        order: initial;
    }

    .experience__info > h2.experience__title {
        font-size: 16px;
    }

    .experience__text {
        font-size: 14px;
    }

    .formcontato__title {
        font-size: 22px;
    }

    .formcontato--esquerda {
        display: none;
    }

    section.formcontato {
        padding: 32px;
        align-items: start;
    }

    #contato {
        width: 100%; 
    }

    div.formcontato__text, form.formcontato__form {
        flex-grow: 1;
    }

    form.formcontato__form {
        margin-top: 0;
    }

    .formcontato__form > * {
        margin-top: 32px;
    }
}

/*Mobile*/
@media (max-width: 767px) {
    section {
        padding: 16px;
    }

    li.menu__list__item__contato {
        font-weight: 400;
    }

    #contato {
        font-weight: 400;
        font-size: 14px;
    }

    .title__div {
        align-items: start;
        flex-direction: column;
    }

    section.menu {
        margin-bottom: unset;
    }

    img.title__profile {
        order: unset;
        width: 98px;
        height: 98px;
    }
/*Menu*/
    .title__container > h2, .title__container > h3, .title__container > ul {
        margin-top: 16px;
    }

    .title__container > h3, .title__container > ul {
        font-size: 14px;
    }

    ul.title__network {
        gap: 8px;
        justify-content: space-between;
    }

    section.title {
        padding-bottom: 16px;
    }

    div.about__container {
        padding: 0;
    }

    div.skills__box, div.hobbies__box {
        width: 156px;
        height: 118px;
        padding-top: 38px;
    }

    div.skills {
        margin-bottom: 32px;
    }

    div.hobbies {
        margin-bottom: unset;
    }

    .academic__courses {
        flex-direction: column;
    }

    section.academic {
        padding: 32px;
    }

    .academic__courses__box {
        width: unset;
        padding: 8px 0;
    }

    .academic__courses__box:first-child {
        padding-top: 0;
    }

    .academic__courses__box:last-child {
        padding-bottom: 0;
    }

    li.academic__courses__item__img {
        height: 118px;
    }

    .academic__courses__item__title {
        font-size: 16px;
    }

    .academic__courses__item__subtitle {
        font-size: 14px;
    }

    section.experience{
        padding: 32px;
    }

    .experience__section__title {
        margin-bottom: 16px;
        margin-top: 0;
    }

    .experience__info > h2.experience__title {
        margin-bottom: 0;
    }

    div.experiencie__box:last-child {
        margin-bottom: 0;
    }


/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
